#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

//#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
//#include <behaviors/runtime-sensor-rotate.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&caps_rgb>;
        };

        caps_rgb: caps_rgb {
            compatible = "zmk,behavior-macro";
            display-name = "Caps Lock + RGB Toggle";
            #binding-cells = <0>;
            bindings = <&kp CAPS>, <&rgb_ug RGB_COLOR_HSB(0,0,100)>, <&rgb_ug RGB_TOG>;
        };

        comma_morph: comma_morph {
            compatible = "zmk,behavior-mod-morph";
            display-name = "Comma Morph";
            #binding-cells = <0>;
            bindings = <&kp LESS_THAN>, <&kp COMMA>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dot_morph: dot_morph {
            compatible = "zmk,behavior-mod-morph";
            display-name = "Dot Morph";
            #binding-cells = <0>;
            bindings = <&kp GREATER_THAN>, <&kp DOT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    /**/
    /*     rsr_vol: rsr_vol { */
    /*         compatible = "zmk,behavior-runtime-sensor-rotate"; */
    /*         #sensor-binding-cells = <0>; */
    /*         tap-ms = <5>; */
    /*         cw-binding = <&kp C_VOL_UP>; */
    /*         ccw-binding = <&kp C_VOL_DN>; */
    /*     }; */
    /**/
    /*     rsr_trans: rsr_trans { */
    /*         compatible = "zmk,behavior-runtime-sensor-rotate"; */
    /*         #sensor-binding-cells = <0>; */
    /*         tap-ms = <0>; */
    /*     }; */
    };

   combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <1 15 29>;
        };
    };

    keymap {
            compatible = "zmk,keymap";
            kuntem {
                display-name = "KUNTEM";
                bindings = <
                    &kp ESCAPE    &kp V    &kp L    &kp N    &kp D    &kp K
                    &none    &kp Q    &kp W    &kp O    &kp U    &kp J
                    &none    &kp TAB    &kp T    &kp S    &kp R    &kp H
                    &kp F    &none    &none    &none    &kp G    &kp C
                    &kp A    &kp I    &kp E    &kp SQT    &kp LEFT_SHIFT    &kp EQUAL
                    &kp Z    &kp X    &kp P    &kp B    &none    &none
                    &kp M    &kp Y    &comma_morph    &dot_morph    &kp SLASH    &kp LEFT_ALT
                    &mt LEFT_CONTROL ESCAPE    &lt 2 SPACE    &kp LEFT_GUI    &shift_caps_lock_tap_dance    &lt 1 RETURN    &kp BACKSPACE
                >;
            };
            nav {
                display-name = "NAV";
                bindings = <
                    &trans    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5
                    &none    &kp N6    &kp N7    &kp N8    &kp N9    &kp N0
                    &trans    &trans    &kp LEFT    &kp DOWN    &kp UP    &kp RIGHT
                    &kp Z    &none    &none    &none    &kp F    &kp H
                    &kp J    &kp K    &kp L    &kp DELETE    &kp 17235997    &kp 17235972
                    &kp 17235995    &kp 17235974    &kp 17235993    &kp 17235996    &none    &none
                    &kp INS    &kp HOME    &kp PAGE_DOWN    &kp PAGE_UP    &kp END    &trans
                    &trans    &lt 3 SPACE    &trans    &trans    &trans    &trans
                >;
            };
            symbol {
                display-name = "SYMBOL";
                bindings = <
                    &kp 17235997    &kp 17235996    &kp 34013235    &kp 34013229    &kp 34013218    &kp N2
                    &none    &kp 34013233    &kp SEMICOLON    &kp LEFT_BRACKET    &kp RIGHT_BRACKET    &rgb_ug RGB_EFR
                    &rgb_ug RGB_EFF    &tog 1    &kp 34013237    &kp MINUS    &kp 34013230    &kp 34013221
                    &kp 34013219    &none    &none    &none    &kp 34013217    &kp 34013231
                    &kp 34013222    &kp 34013223    &kp 34013232    &kp 34013216    &kp 17235995    &kp 17235974
                    &kp BACKSLASH    &kp 34013220    &kp 34013214    &kp 17235993    &none    &none
                    &none    &kp GRAVE    &trans    &trans    &trans    &trans
                    &trans    &trans    &trans    &kp LEFT_CONTROL    &trans    &trans
                >;
            };
            fn {
                display-name = "NAV";
                bindings = <
                    &studio_unlock    &kp F1    &kp F2    &kp F3    &kp F4    &kp F5
                    &none    &kp F6    &kp F7    &kp F8    &kp F9    &kp F10
                    &kp F11    &bt BT_PRV    &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3
                    &bt BT_NXT    &none    &none    &none    &kp SCROLLLOCK    &kp PRINTSCREEN
                    &kp 134676550    &kp 168230982    &kp PAUSE_BREAK    &kp F12    &bt BT_DISC 0    &bt BT_CLR
                    &bt BT_CLR_ALL    &bootloader    &sys_reset    &z_so_off    &none    &none
                    &bl BL_DEC    &rgb_ug RGB_BRD    &bootloader    &rgb_ug RGB_TOG    &rgb_ug RGB_BRI    &trans
                    &trans    &trans    &trans    &trans    &trans    &trans
                >;
            };
            placeholder {
                display-name = "BLANK";
                bindings = <
                    &kp TAB    &kp V    &kp L    &kp N    &kp D    &kp K
                    &none    &kp Q    &kp W    &kp O    &kp U    &kp J
                    &kp BACKSPACE    &shift_caps_lock_tap_dance    &kp T    &kp S    &kp R    &kp H
                    &kp F    &none    &none    &none    &kp G    &kp C
                    &kp A    &kp I    &kp E    &kp SQT    &kp LEFT_CONTROL    &kp Z
                    &kp Z    &kp X    &kp P    &kp B    &none    &none
                    &kp M    &kp Y    &comma_morph    &dot_morph    &kp SLASH    &kp ESCAPE
                    &kp LEFT_GUI    &trans    &lt 3 SPACE    &lt 3 RETURN    &mo 2    &kp RIGHT_ALT
                >;
            };
        };
    };
